/*----------Playground----------*/
.playground-div {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
    box-sizing: border-box;
}

.playground-div iframe {
    max-height: calc(100vh - 60px);
    aspect-ratio: 1300 / 691.2;
    border: none;
    display: block;
    padding: 30px;
}

@media (max-width: 991.98px) {
    .playground-div iframe {
        width: 100%;
        padding: 14px;
    }
}

@media (max-width: 767.98px) {
    .playground-div {
        margin-top: 56px;
        height: calc(100vh - 56px);
    }

    .playground-div iframe {
        width: 100%;
        max-height: calc(100vh - 56px);
        padding: 8px;
    }
}